.red {
    color: rgb(231, 76, 60);
    background-color: rgb(231, 76, 60);
}

.green {
    color: rgb(39, 174, 96);
    background-color: rgb(39, 174, 96);
}

.blue {
    color: rgb(44, 62, 80);
    background-color: rgb(44, 62, 80);
}

.yellow {
    color: rgb(243, 156, 18);
    background-color: rgb(243, 156, 18);
}

.pink {
    color: rgb(155, 89, 182);
    background-color: rgb(155, 89, 182);
}

.orange {
    color: rgb(251, 105, 100);
    background-color: rgb(251, 105, 100);
}

.salmon {
    color: rgb(189, 187, 153);
    background-color: rgb(189, 187, 153);
}



.content {
    border-radius: 6px;
    box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.2);
    background-color: white;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

.quote {
    min-height: 200px;
    padding: 40px;
}

.actions {
    padding: 20px;
}

.content .buttons {
    color: white;
}

.content .buttons:hover, .content .buttons:focus, .content .buttons:active {
    color: gainsboro;
}